
.wd-kanbas-navigation {
    height: 100vh;
    background-color: black;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 80px;
}

.wd-kanbas-navigation li {
    padding: 7px;
    margin-bottom: 3px;
    font-size: 0.8em;
    text-align: center;
}

.wd-kanbas-navigation li.wd-active {
    background-color: white;
}

.wd-kanbas-navigation li.wd-active a {
    color: red;
}

.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
}

.wd-kanbas-navigation a i {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
}

#avi {
    color: white
}

html {
    font-family: 'Roboto', sans-serif;
}

.wd-kanbas-content {
    padding: 24px;
}

.grid-col-main-content {
    width: 60%;
    float: left;
} 